.form {
  background-color: #ffffff;
  color: #565b60;
  padding: 1rem 2rem;
  border-radius: 20px;
  opacity: 90%;
  display: none;

  @mixin atLarge {
    display: block;
  }

  &__header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 23.41px;
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
  }

  & label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
  }

  & input,
  textarea {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 20px;
    outline: none;
    border-style: solid;
    padding: 0.5rem 1rem;
  }
}
